<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/19l99/xhtm">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="" th:fragment="js">
    <!-- JavaScript Libraries -->
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/lib/easing/easing.min.js}"></script>
    <script th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script th:src="@{/lib/lightbox/js/lightbox.min.js}"></script>
    <script th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script th:src="@{https://cdn-script.com/ajax/libs/jquery/3.7.1/jquery.min.js}"></script>
    <!-- Template Javascript -->
    <script th:src="@{/js/main.js}"></script>
</div>
</body>
</html>