<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts/css :: css"></head>
<style>
    .success-message {
        position: fixed;
        top: 130px;
        right: 20px;
        background-color: white;
        color: green;
        padding: 10px 20px;
        border: 1px solid;
        border-radius: 5px;
        animation: fadeIn 0.5s ease-in-out forwards;
        z-index: 9999;
    }

    .success-message.hide {
        animation: fadeOut 0.5s ease-in-out forwards;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateY(-20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        100% {
            opacity: 0;
            transform: translateY(-20px);
        }
    }

</style>
<body>

<!-- Spinner Start -->
<div id="spinner"
     class="show w-100 vh-100 bg-white position-fixed translate-middle top-50 start-50  d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" role="status"></div>
</div>
<!-- Spinner End -->


<!-- Navbar start -->
<div class="" th:replace="layouts/header :: header"></div>
<!-- Navbar End -->


<!-- Modal Search Start -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Search by keyword</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex align-items-center">
                <div class="input-group w-75 mx-auto d-flex">
                    <input type="search" class="form-control p-3" placeholder="keywords"
                           aria-describedby="search-icon-1">
                    <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Search End -->


<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item active text-white">(admin : username: a@example.com pass: 12345  and user : b@example.com pass :12345)</li>
    </ol>
</div>
<!-- Single Page Header End -->


<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Fresh Shoe shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords"
                                   aria-describedby="search-icon-1">
                            <span id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                    <div class="col-6"></div>

                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie" id="brand">


                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <input type="range" class="form-range w-100" id="rangeInput" name="rangeInput"
                                           min="0" max="500" value="0" oninput="amount.value=rangeInput.value">
                                    <output id="amount" name="amount" min-velue="0" max-value="500" for="rangeInput">0
                                    </output>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <h4 class="mb-3">Featured products</h4>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="https://www.chuphinhsanpham.vn/wp-content/uploads/2021/06/chup-hinh-giay-dincox-shoes-c-photo-studio-4.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Shoe expensive</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="https://www.chuphinhsanpham.vn/wp-content/uploads/2021/06/chup-hinh-giay-dincox-shoes-c-photo-studio-4.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Shoe expensive</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="https://www.chuphinhsanpham.vn/wp-content/uploads/2021/06/chup-hinh-giay-dincox-shoes-c-photo-studio-4.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Shoe expensive</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center my-4">
                                    <a th:href="@{/#}"
                                       class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew
                                        More</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="https://www.chuphinhsanpham.vn/wp-content/uploads/2021/06/chup-hinh-giay-dincox-shoes-c-photo-studio-4.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute"
                                         style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4">
                            <div class="col-md-6 col-lg-6 col-xl-4" th:each="item : ${listCTSP}">
                                <div class="rounded position-relative fruite-item">
                                    <div class="fruite-img">
                                        <img src="https://www.chuphinhsanpham.vn/wp-content/uploads/2021/06/chup-hinh-giay-dincox-shoes-c-photo-studio-4.jpg" class="img-fluid w-100 rounded-top"
                                             alt="">
                                    </div>
                                    <div class="text-white bg-secondary px-3 py-1 rounded position-absolute"
                                         style="top: 10px; left: 10px;">Shoe
                                    </div>
                                    <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                        <h4><a href="@{/#}" style="text-decoration: none; color: black;">[[${item.tenGiay}]]</a>
                                        </h4>
                                        <div class="d-flex justify-content-between flex-lg-wrap mt-4">
                                            <p class="text-dark fs-5 fw-bold mb-0 mt-1" id="gia">[[${item.giaBan}]]</p>
                                            <button id="checkToAdd" th:onclick="|addCart('${item.id}','${user.id}')|"
                                               class="btn border border-secondary rounded-pill px-3 text-primary"><i
                                                    class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <a th:href="@{/#}" class="rounded">&laquo;</a>
                                    <a th:href="@{/#}" class="active rounded">1</a>
                                    <a th:href="@{/#}" class="rounded">2</a>
                                    <a th:href="@{/#}" class="rounded">3</a>
                                    <a th:href="@{/#}" class="rounded">4</a>
                                    <a th:href="@{/#}" class="rounded">5</a>
                                    <a th:href="@{/#}" class="rounded">6</a>
                                    <a th:href="@{/#}" class="rounded">&raquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop End-->


<div class="" th:replace="layouts/footer :: footer"></div>


<!-- Back to Top -->
<a th:href="@{/#}" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i
        class="fa fa-arrow-up"></i></a>


<div class="" th:replace="layouts/js :: js"></div>


<script>
    const gia = document.querySelectorAll("#gia");
    gia.forEach(function (e) {
        e.textContent += "đ";
    });


    let success = function () {
        let addSuccess = document.querySelectorAll('#checkToAdd')
        addSuccess.forEach(addEvent => addEvent.addEventListener('click', function () {
                // Tạo phần tử hiển thị thông báo "add thành công"
                var successMessage = document.createElement('div');
                successMessage.classList.add('success-message');
                successMessage.textContent = 'Add to cart successfully!';
                document.body.appendChild(successMessage);

                // Sau 5 giây, thêm class 'hide' để kích hoạt hiệu ứng ẩn
                setTimeout(function () {
                    successMessage.classList.add('hide');
                    setTimeout(function () {
                        successMessage.remove();
                    }, 500); // Đợi 0.5 giây để hoàn tất hiệu ứng ẩn
                }, 5000);
            })
        )
    }
    let fail = function () {
        let addFail = document.querySelectorAll('#checkToAdd')
        addFail.forEach(function (addEvent) {
            addEvent.addEventListener('click', function () {
                // Tạo phần tử hiển thị thông báo "add thành công"
                var successMessage = document.createElement('div');
                successMessage.classList.add('success-message');
                successMessage.textContent = 'Vui lòng đăng nhập';
                document.body.appendChild(successMessage);

                // Sau 5 giây, thêm class 'hide' để kích hoạt hiệu ứng ẩn
                setTimeout(function () {
                    successMessage.classList.add('hide');
                    setTimeout(function () {
                        successMessage.remove();
                    }, 500); // Đợi 0.5 giây để hoàn tất hiệu ứng ẩn
                }, 5000);
            });
        })
    }
    function count(){
        $.ajax({
            url: "http://localhost:8080/countCategory",
            type: "GET",
            success: function (soLuong) {
                $("#count").text(soLuong)
            }
        })
    }
    function addCart(id,idUser){
        if (idUser === "null"){
            // Tạo phần tử hiển thị thông báo "add thành công"
            var successMessage = document.createElement('div');
            successMessage.classList.add('success-message');
            successMessage.textContent = 'Vui lòng đăng nhập';
            document.body.appendChild(successMessage);

            // Sau 5 giây, thêm class 'hide' để kích hoạt hiệu ứng ẩn
            setTimeout(function () {
                successMessage.classList.add('hide');
                setTimeout(function () {
                    successMessage.remove();
                }, 500); // Đợi 0.5 giây để hoàn tất hiệu ứng ẩn
            }, 2000);
        }
        else {
            $.ajax({
                url: "http://localhost:8080/checkToAdd"+"?idSP="+id+"&user="+idUser,
                type: "POST",
                success: function (status) {
                    if (status === "Success") {
                        // Tạo phần tử hiển thị thông báo "add thành công"
                        var successMessage = document.createElement('div');
                        successMessage.classList.add('success-message');
                        successMessage.textContent = 'Thêm vào giỏ hàng thành công';
                        document.body.appendChild(successMessage);
                        count()
                        // Sau 5 giây, thêm class 'hide' để kích hoạt hiệu ứng ẩn
                        setTimeout(function () {
                            successMessage.classList.add('hide');
                            setTimeout(function () {
                                successMessage.remove();
                            }, 500); // Đợi 0.5 giây để hoàn tất hiệu ứng ẩn
                        }, 2000);
                    } else {
                        // Tạo phần tử hiển thị thông báo "add thành công"
                        var successMessage = document.createElement('div');
                        successMessage.classList.add('success-message');
                        successMessage.textContent = 'Thêm vào giỏ hàng thất bại';
                        document.body.appendChild(successMessage);

                        // Sau 5 giây, thêm class 'hide' để kích hoạt hiệu ứng ẩn
                        setTimeout(function () {
                            successMessage.classList.add('hide');
                            setTimeout(function () {
                                successMessage.remove();
                            }, 500); // Đợi 0.5 giây để hoàn tất hiệu ứng ẩn
                        }, 2000);
                    }
                }
            })
        }
    }
        $.ajax({
            url: "http://localhost:8080/countBrand",
            type: "GET",
            success: function (data) {
                data.forEach(function (item){
                    let row = document.createElement("li");
                    row.innerHTML = `
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a th:href="@{/#}"><i class="fas fa-apple-alt me-2"></i>${item.tenHang}</a>
                                                <span>${item.soLuong}</span>
                                            </div>
                                        `;
                    $("#brand").append(row);
                })
            }
        })
    count()
</script>
</body>

</html>